.header_wrapper{
    /* width: 100%; */
    display: flex;
    /* -webkit-box-pack: justify;
    justify-content: space-between; */
    /* background-color: rgb(39, 22, 22); */
    /* padding-left: 2%; */
    /* padding-top: 100%; */
}

.header_wrapper ul{
    list-style: none;
     display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.internal__wrapper ul{
    width: 1000px;
}

